services:
  mm:
    restart: always
    image: ${MM_IMAGE}
    environment:
      DB_HOST: db
    env_file:
      .env
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg17
    restart: always
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '${DB_USER}', '-d', '${DB_NAME}']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  migration:
    image: ${MIGRATION_IMAGE}
    restart: no
    environment:
      DB_HOST: db
    env_file:
      .env
    depends_on:
      - db

volumes:
  postgres_data:

